@font-face {
  font-family: 'Robus-BWqOd'; 
  src: url('https://www.shanebrumback.com/fonts/Robus-BWqOd.otf') format('opentype');
}

body {
  margin: 0;
}

canvas {
  display: block;
}

#blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: none; /* Hide the crosshair by default */
}

#playButton {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 4vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

p {
  font-family: Arial;
  font-size: medium;
  text-align: center;
}

@media (max-width: 900px) {
  /* Styles for mobile devices with a maximum width of 767px */
  #playButton {
      font-family: "Gill Sans Extrabold", sans-serif;
      font-size: 15vw; /* Adjust the font size as per your preference */
  }
  p {
      font-size: 4vw;
  }
}

#timer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}

.btn{
  color: black;
  padding: 10px 20px;
  background: #fff;
  border: 2px dotted black;
  border-radius: 10%;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 32%;
  margin-left: 45%;
}


.missionhead{
  left: 0;
  font-size: 3rem;
  font-weight: bold;
}

#objective{
  position: absolute;
  z-index: 100;
  color: aliceblue;
  background: transparent;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.5rem;
  float: right;
  text-align: center;
  margin-left: 41%;
}